@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}